header{
    margin-top: 15px;
}

.revera_logo{
    text-decoration: none; 
     text-transform: uppercase;
     font-weight: 800; 
     color: #000;
     font-size: 35px;
    
} 


.reserva-text{
    color: #fff;
}
ul li{
    margin: 20px; 
    list-style-type: none;
} 
ul{
    margin: 0; 
    padding: 0;
} 


.link{
    color: #fff; 
    text-decoration: none;
}
 

.text__content{
    position: absolute; 
    font-size: 20px; 
    color: black; 
    width: 50vw; 
    left: 30%;
    top: 20%;  
    max-height: 150px;
}


.features_row{
    padding-left: 20px; 
    padding-top: 25px;
}
 

.features__background{
    background-color: #ed564b;
} 

h3{
    color: white; 
    margin-top: 15px;  
    font-size: 25px;
    text-align: center;
} 

.desc{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
 
h5{
    color: #fff;
}

.change_width{
    width: 150px;
} 
 
.inform > a{
    color: #fff;
}
 
span{
    border: 5px solid #fff;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    display: block;
    line-height: 65px;
    text-align: center;
    font-size: 20px; 
    margin: 0 auto;
} 

hr{
    width: 250px;
} 

.full-width-h{
    width: 100%;
} 

.background-black{
    background-color: #3b3b3b;
} 



footer {
    background-color: #292929;;
    color: white;
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
} 




