*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;   
}

header a{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    text-decoration: none;
    
    
}

.cabecera{
    margin-top: 20px;
    margin-left: 10%;
    width: 40%;  
}
.cabecera> ul{
    padding: 10px 10px 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.colored {
    color: #cc3126;
}

.main {
    width: 100%;
    height: 600px;
    background: url(../img/slider-1.jpg) no-repeat center center;
    background-size: cover ;
}

.main img {
 width: 100%;
 height: 100%;
}

.txt {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    text-align: center;
    color: white;
}


.button {
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.webtxt{
    background-color: #e73124;
    width: 100%;
}

.webtxt article {
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 20px 10px;
}

.lp{
    margin-top: 60px;
    text-transform: uppercase;
}

.lp p {
    color: rgb(136, 132, 132);
    font-weight: 700;
}

.pfolio img{
    width: 100%;
    padding-bottom: 20px;
}

.pfolio p {
    font-weight: bold;
}

.differ {
    text-transform: uppercase;
    color: rgb(136, 135, 135);
    font-size: 12px;    
    }

.differ span {
    color: red;
}

.phara {
    font-size: 14px;
    font-weight: 400 !important;
}

.foot{
    padding: 40px;
    background-color: #474343;  
}

.wht  {
    color: white;
}

.gr{
    color: grey;
}

.bottom-link{
    list-style: none;
    padding-left: 0;
}

.bottom-link li {
    border-bottom: 2px dotted grey;
}

.bottom-link a {
    color: grey;
    width: 100%;
}

.last{
    background-color: #292626;
}

.copyright{
    padding: 15px;
    padding-left: 0 !important;
    color: white;
}
