* {
    margin: 0;
    padding: 0;
}
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}
.logo  {
    width: 200px;flex-direction: row;
}
.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}
.menu li {
    margin: 20px;
}
.gallery {
    background-image: url('img/slider-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}
.gallery article {
    text-align: center;
}
.gallery h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2em;
}
.gallery p {
    color: white;
}
.arrow {
    width: 50px;
}
.gallery a {
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
}
.options {
    background-color: rgb(214, 27, 58);
    padding: 20px 200px;
}
.options article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options h3 {
    font-size: 1em;
    color: white;
    font-weight: bold;
}
.options p {
    text-align: center;
    font-size: 0.8em;
    color: white;
}
.options img {
    width: 55px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 15px 15px 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.latestnews {
    padding: 30px 0px;
}

.latestnews h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 50px;
}

.latestnews h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em;
    color: rgb(110, 110, 110);
    margin-bottom: 30px;
}
.latestnews hr {
    height: 2px;
    color: black;
}
.latestnews img {
    width: 250px;
}
.latestnews article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.projects {
    font-size: 0.8em; 
    text-align: center;
}
.title {
    font-weight: bolder;
}
.date {
    text-transform: uppercase;
    font-size: 0.7em;
}
.redtext {
    color: rgb(199, 3, 19);
}
.footer {
    background-color: rgb(33, 33, 36);
    padding: 40px 0px;
    border-top: 3px solid red;
}
.footer h3 {
    color: white;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer p {
    color: white;
    font-size: 0.8em;
}
.footer hr {
    border: 1px dotted white;
}
.legal {
    background-color: rgb(15, 15, 15);
    padding: 10px 0px;
}
.legal p {
    color: white;
    font-size: 0.7em;
}