.picture {
    width: 200px;
    height: 130px;
}

.logo {
    width: 50px;
    margin-left: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0px 30px;
    margin-right: 400px; 
    align-items: center;   

}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    justify-content: space-evenly;
    padding-right: 10px;
}

.info {
    background-image: url(lab-bootstrap-cloning-revera/img/slider-1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    filter: grayscale(100%);
   
}
.top-text{
    text-align: center;
    padding: 10px 260px;
    color: rgb(223, 223, 223);

}
.title {
    text-transform: uppercase;
}
.back-color {
    background-color: #c44a4a;
    color: #fff;
    height: 180px;
}
.button {
    border: 1px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.7em;
    padding: 10px 20px;
}
h2 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding-top: 5px;
}
.web-text {
    text-align: center;
    font-size: 0.6em;
    padding: 0px 17px;
}
.icons {
    padding-top: 20px;
    margin-left: 160px;
}
h3 {
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
.few {
    text-transform: uppercase;
    font-size: 0.6em;
    color:rgb(163, 162, 162);
    font-weight: 800;
}

.p-text {
    font-size: 0.6em;
    padding-right: 50px;
    padding-top: 7px;
    text-align: center;
    font-weight: bold;
}
h5 {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: bold;
}

span {
    color: red;
}
.project-text {
    font-size: 0.7em;
    padding-right: 20px;
}

.separator {
    border-color: red;
    border-width: 4px;
    margin: 0px;
    

}

.bottom {
    background-color: rgb(65, 63, 63);
    color: #ffff;
    padding: 30px 30px;
    font-size: 0.7em;

}
h4 {
    text-transform: uppercase;
    font-size: 0.9em;
}
footer hr {
    border-color: #fff;
    margin: 4px;
}
.footer text {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.copy {
    background-color: rgb(51, 50, 50);
    height: 50px;
    color: #fff;
    font-size: 0.1em;
    padding-left: 170px;
    padding-top: 20px;
}