/* General */
:root{
    --revera-pink: #ed564b;
    --revera-footer-light: #3b3b3b;
    --revera-footer-dark: #292929;
}


a {
    text-decoration: none;
    outline: none;
    color: inherit;
    outline: none;
}

.active{
    color: red;
}

.centered-text{
text-align: center;
}



/* Header */
header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

nav ul{
    display: flex;
}

li{
    list-style: none;
    padding-left: 0.5em;
}


/* Section1 - Welcome */
.welcome-section{
    color: white;
    background-image: url("../img/slider-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    padding: 10rem 0 5rem 0;
    text-align: center;

}

.welcome-section div{
    width: 50%;
    padding-top: ;
}

.welcome-section a{
    border: 1px solid white;
    text-transform: uppercase;
    padding: 0.3em;
    text-decoration: none;
}


/* Section 2 - Presentation */
.presentation-section{
    text-align: center;
    color: white;
    background-color: var(--revera-pink);
    padding: 2.5em 0;
}

.presentation-section h3{
    margin: 0.5em 0;;
}

.presentation-section article{
    font-size: 0.7em;
}

.icon-border{
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.presentation-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}


/* Section 3 Work */


.work{
    margin: 2em 0;
    
    margin: 0 auto;
    width: 80%;
}

.work-section h2{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.work-section h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: gray;
}

.work h6{
    font-weight: bold;
}

.work h6 + p{
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.row img{
    width: 100%;
}

.post-info{
    color: red;
}



/* Section 4 Footer */

.footer-section{
    background-color: var(--revera-footer-light);
}

section.footer-section > div{    
    margin: 0 auto;
    width: 80%;
    color: white;
}

footer {    
    background: var(--revera-footer-dark);
}

.footer-section p{  
    margin: 0.5em auto;
    width: 70%;
    color: white;
}




/* https://icomoon.io/ */

.icon-heart:before {
    content: "\e9da";
  }


.icon-star-full:before {
content: "\e9d9";
}

.icon-display:before {
    content: "\e956";
  }