h1{
    font-size: 1.2em;
    color: gray;
    text-transform: uppercase;
    text-align: center;
}
.central{
    background-color: rgb(182, 226, 255);
    padding-bottom: 34px;
   
}
.central p{
    color: gray;
    text-align: center;
    font-size: xx-small;
    margin-left: 20%;
    margin-right: 20%;
}

button{
    background-color: none;
    border: grey;
    text-transform: uppercase;
    color: grey;
    margin-left: 45%;
}


h2{
    color: white;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;

}
.web p{
    font-size: 9px;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.web{
    background-color:#e63420;
    padding: 40px 0;
}
h3{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
.project{
    padding: 40px 0;
}
.project img{
    width: 100%;
}
.project-p{
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
}
.project p{
    font-size: 9px;
}
.slider img{
    width: 100%;
}
.slider-p{
    text-transform: uppercase;
    font-size: 10px;
    color: grey;
}
.slider p{
    font-size: 9px;
}
h4{
    text-transform: uppercase;
    color: white;
    font-size: 8px;
}
.ultimo{
    background-color:rgb(77, 75, 75);
    padding: 40px 0;
}
.ultimo p{
    color: white;
    font-size: 8px;
    text-decoration: underline dotted;
    
}

