:root{
--color-red: hsl(4deg 82% 61%);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-image: url(../img/overlay.png);
    background-size: cover;
}
.nav-bar{
    background-color: aliceblue;
}
.nav-bar img{
    background-color: aliceblue;
    width: 200px;
    padding: 10px;
}
.nav-bar nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.nav-bar ul{
    list-style-type: none;
    text-decoration: none;
    display: flex;
}
.nav-bar li{
    padding: 10px;
}
.nav-links a{
    text-decoration: none;
    color: rgb(175, 145, 145);
    text-shadow: 0px 1px 2px black;
}
.nav-links a:hover{
   color: #2a2a2a;
   text-shadow: 0px 1px 2px rgb(77, 71, 71);
}
.slide a:hover{
    background-color: var(--color-red);

}
h3{
    font-size: 2em;
}
h3, p{
    color: rgb(175, 145, 145);
    text-shadow: 0px 1px 2px black;
}
.adv{
    width: 100%;
    background-color: var(--color-red);
    padding: 10px;
    margin: 0%;
    
}
.icon-glass2:before {
    content: "\e9a1";
  }
.icon-library:before {
    content: "\e921";
  }
.icon-bug:before {
    content: "\e999";
  }
  .cards img{
      width: 100%;
  }